<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<div class="row">
    <div class="col-md-5">
        <h2> Lorem ipsum dolor sit amet consectetur adipiscing elit molestie enim mauris, pharetra lacinia facilisis tempus dis ultrices praesent suscipit urna nullam lectus, eget potenti nisl quis in metus gravida maecenas velit.  </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipiscing elit molestie enim mauris, pharetra lacinia facilisis tempus dis ultrices praesent suscipit urna nullam lectus, eget potenti nisl quis in metus gravida maecenas velit.  </p>
        <p> Lorem ipsum dolor sit amet consectetur adipiscing elit molestie enim mauris, pharetra lacinia facilisis tempus dis ultrices praesent suscipit urna nullam lectus, eget potenti nisl quis in metus gravida maecenas velit.  </p>
        <h3> Lorem ipsum dolor sit amet consectetur adipiscing elit molestie enim mauris, pharetra lacinia facilisis tempus dis ultrices praesent suscipit urna nullam lectus, eget potenti nisl quis in metus gravida maecenas velit.  </h3>
    </div>
    <div class="col-md-5">
    <h2> Lorem ipsum dolor sit amet consectetur adipiscing elit molestie enim mauris, pharetra lacinia facilisis tempus dis ultrices praesent suscipit urna nullam lectus, eget potenti nisl quis in metus gravida maecenas velit.  </h2>
    <p> Lorem ipsum dolor sit amet consectetur adipiscing elit molestie enim mauris, pharetra lacinia facilisis tempus dis ultrices praesent suscipit urna nullam lectus, eget potenti nisl quis in metus gravida maecenas velit.  </p>
    <p> Lorem ipsum dolor sit amet consectetur adipiscing elit molestie enim mauris, pharetra lacinia facilisis tempus dis ultrices praesent suscipit urna nullam lectus, eget potenti nisl quis in metus gravida maecenas velit.  </p>
    <h3> Lorem ipsum dolor sit amet consectetur adipiscing elit molestie enim mauris, pharetra lacinia facilisis tempus dis ultrices praesent suscipit urna nullam lectus, eget potenti nisl quis in metus gravida maecenas velit.  </h3>
    </div>
</div>